---
import ProjectsSection from "../components/ProjectsSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Prabin Subedi">
	<div id="about-me" class="gap-2 flex flex-col">
		<h2 class="font-medium">About me</h2>

		<p class="font-normal tracking-wide">
			Hiya, I'm Prabin Subedi, Full Stack Engineer Based in Nepal. Mostly
			working on Typescript, React, Nodejs and Nexts Based Projects. Apart
			from that I am also interested in <code>FOSS</code>.
		</p>
	</div>

	<ProjectsSection />
</MainLayout>
