---
import { type CollectionEntry, getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import GobackButton from "../../components/GobackButton.astro";

export async function getStaticPaths() {
    const posts = await getCollection("post");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: post,
    }));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content } = await render(post);
---

<MainLayout title={post.data.title}>
    <GobackButton href="/post" title="Go to Posts"  />
    <div>
        <h1
            class="text-foreground mb-2 text-3xl leading-tight font-bold tracking-tight"
        >
            {post.data.title}
        </h1>
        <div class="flex items-center gap-2 text-sm">
            <span>
                {post.data.date}
            </span>
            <span class="text-lg font-black"> · </span>
            <span>
                {Math.floor(post.body?.length! / 240)} mins read
            </span>
        </div>
    </div>
    <article class="prose max-w-none">
        <Content />
    </article>
</MainLayout>
