---

---

<footer class="border-t border-gray-300 py-2">
    <div class="flex md:flex-row flex-col  items-center justify-between gap-4">
        <p>Copy Right Prabin ji</p>

        <div class="flex flex-row items-center gap-4">
            <a href="https://github.com/prabincankod"> Github </a>
            <a href="https://twitter.com/prabincankod"> Twitter </a>
            <a href="https://www.linkedin.com/in/prabincankod/"> Linkedin </a>
            <a href="https://www.instagram.com/prabincankod/"> Instagram </a>
        </div>
    </div>
</footer>
