---
import { Image } from "astro:assets"
---

<header>
    <div class="flex flex-row justify-between items-center">
        <div class="head flex flex-row items-center gap-4">
            <Image
                src="https://github.com/prabincankod.png"
                alt="Prabin Subedi - lastly derived from github."
                class="rounded-full w-12"
                inferSize={true}
            />

            <div class="person">
                <div class="name text-base font-medium">Prabin Subedi</div>
                <div class="position text-base font-light text-[#636363]">
                    Full Stack Engineer & Tinkerer
                </div>
            </div>
        </div>
        <div class="link inline-flex items-center gap-2">
            <a href="/posts"> Posts </a>
            <a href="https://github.com/prabincankod"> Github </a>
        </div>
    </div>
</header>
