---
import { ExternalLink } from "@lucide/astro";

type Props = {
    title: string;
    description?: string;
    date: string;
    slug: string;
};

const { title, date, slug } = Astro.props;
---

<div class="flex flex-row items-center justify-between group">
    <div class="space-y-0">
        <h2 class="font-xs opacity-80">{title}</h2>
        <p class="opacity-45">{date}</p>
    </div>
    <div class="open hidden group-hover:inline-flex">
        <a href={`/post/${slug}`}>
            <ExternalLink />
        </a>
    </div>
</div>
