---
import { ExternalLink } from "@lucide/astro";
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";

const allPosts = await getCollection("post");
---

<section class="space-y-2">
    <h2 class="font-semibold">Posts</h2>

    {
        allPosts.map((post) => {
            return (
                <PostCard
                    title={post.data.title}
                    slug={post.id}
                    date={post.data.date}
                />
            );
        })
    }
</section>
